// ============================================================================
// Articles
// ============================================================================

// Article header
// ----------------------------------------------------------------------------

.article-header {
  a {
    @include clearfix;
    display: block;

    // Get rid of the default border on hover
    &:hover {
      border-color: transparent;
    }
  }

  .avatar,
  hgroup {
    float: left;
    vertical-align: middle;
  }

  .avatar {
    @include square(55px);
  }

  hgroup {
    margin-left: 10px;
  }

  .name {
    margin: 0;
  }

  .position {
    color: $gray-light;
  }
}

// Article list
// ----------------------------------------------------------------------------

.article-list {
  li {
    padding: ($line-height-computed) 0;

    + li {
      border-top: 2px solid $gray;
    }
  }
}